table{
    margin: 1rem;
}

thead{
    background-color: grey;
    color: black;
    text-align: center;
    border: white 0.1rem solid;
}
th{
    border: white 0.1rem solid;
    width: 20rem;
    font-size: 2rem;
}
td{
    text-align: center;
    border: black solid 0.4rem;
    font-size: 1rem;
}