<table >
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Fecha de estreno</th>
            <th>Cantidad de publico</th>
            <th>Foto</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pelicula of listadoPeliculas">
            <td>{{pelicula.nombre}}</td>
            <td>{{pelicula.tipo}}</td>
            <td>{{pelicula.fechaDeEstreno}}</td>
            <td>{{pelicula.cantidadPublico}}</td>
            <td><mat-card><img mat-card-m-image src="{{pelicula.foto}}" alt=""></mat-card></td>
            
        </tr>
    </tbody>
</table>
