.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 6rem; /* 5px rounded corners */
    width: 20rem;
   height: 90%;
    margin: 10px;
    padding-bottom: 10px;
    float: left;
  background-color: rgb(243, 242, 166);
    text-align: center;
}